

body{
    background-image: url("../media/background-img.png");
    background-size: cover;
    
}

.navbar{
        
        padding-bottom: 30px;
        min-height: 20vh;
}

.nav-custom{
    background-color: rgba(0, 0, 0, .6);
}


.nav-link, .navbar-brand{
    color: gainsboro;
}

.nav-link:hover, .active {
    color: gainsboro;
    background-color: rgba(230,230,230, 0.6);
}

.navbar-brand:hover{
    color: gainsboro;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28, 280, 280, 280.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    border: 2px rgba(0, 0, 0, 0);
}

.footer-custom{
    background-color: black;
    color: gainsboro;
}

#contact-footer-text{
    text-align: center;
}

.band-img{
    width: 50px;
}