

body{
    background-image: url("../media/pizza-close-up-side.webp");
    background-size: cover;
    
}

.navbar{
        
        padding-bottom: 30px;
        min-height: 20vh;
}

.nav-custom{
    background-color: rgba(61, 27, 20, .9);
}


.nav-link, .navbar-brand{
    color: silver;
    font-weight: bold;
}

.nav-link:hover, .active {
    color: white;
    font-weight: 900;
    background-color: rgba(185, 104, 75, 0.6);
}

.navbar-brand:hover{
    color: silver;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28, 280, 280, 280.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    border: 2px rgb(61, 27, 20);
}

.footer-custom{
    background-color: rgba(61, 27, 20);
    color: silver;
    align-items: center;
}

.contact-footer-text{
    text-align: center;
    
}

.band-img{
    width: 50px;
}

.content {
    background-color: rgba(61, 27, 20, .9);
    margin-top: 5vh;
    padding: 10vh;
    color: rgba(220, 224, 217);
    
}