body{
    background-color: rgba(49, 40, 39, .99);
    background-image: url("../media/pizza-close-up-side.webp");
    background-blend-mode: multiply;
    background-size: 100%;
}

.navbar{
        min-height: 20vh;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link, .navbar-brand{
    color: rgb(218, 166, 141);
    font-weight: bold;
}

.nav-link:hover, .active {
    color: white;
    font-weight: 900;
    background-color: rgba(132, 72, 54, 0.6);
}

.navbar-brand:hover{
    color: silver;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28, 218, 166, 144.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    border: 2px rgb(61, 27, 20);
}

.footer-custom{
    background-color: rgba(49, 40, 39, .7);
    color: rgba(218, 166, 141);
    align-items: center;
}

.contact-footer-text{
    text-align: center;
    
}



.content {
    padding: 10vh;
    padding-top: 1vh;
    color: rgba(218, 166, 141);
    
}